@import '_colors';

.button {
    margin-right: 0.3125rem;
    color: $color-on-surface;

    &--secondary {
        &.button {
            background-color: $color-secondary;
            color: $color-on-secondary;
        }
    }
}
