@import 'styles/index.scss';

.docs-layout {
    &__container {
        height: 100%;
        box-sizing: border-box;
        position: relative;
    }

    &__button {
        z-index: 0;
    }
    &__children,
    &__drawer {
        height: 100%;
        overflow-y: auto;
    }

    &__children {
        padding: 1rem 1rem 0;
    }

    pre div {
        white-space: pre;
    }
}
