// Brand Color Palette
$color-primary: #2c1760;
$color-primary-dark: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 30%);
$color-secondary: #43b505;
$color-surface: #242424;
$color-background: #fff;
$color-warn: #ffa54e;
$color-error: #b00020;
$color-on-primary: #fff;
$color-on-secondary: #fff;
$color-on-error: #fff;
$color-on-surface: #fff;
$footer: #313741;
