// Brand Color Palette
$off-white: #f4f4f4;
$pure-white: #fff;
$color-primary: #673AB7;
$color-primary-dark: #311B92;
$color-primary-light: #B39DDB;
$color-secondary: #AED581;
$color-surface: #FFFFFF;
$color-background: #FFFFFF;
$color-warn: #FFA54E;
$color-error: #B00020;
$color-on-primary: #ffffff;
$color-on-secondary: #ffffff;
$color-on-error: #ffffff;
$color-on-surface: #333333;
