@import '../../styles/globals';
$content-height: 298px;

.projects {
    &__headline {
        margin-bottom: 0;
    }

    &__description {
        margin-bottom: 0;
    }

    &__project-container {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-areas:
            'rallyDescription'
            'rallyImage'
            'pipelineRxDescription'
            'pipelineRxImage'
            'southwestDescription'
            'southwestImage';
        justify-items: center;
        align-items: center;
    }

    &__content {
        min-height: $content-height;
        position: relative;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        box-shadow: -10px 9px 10px 0px rgba(0, 0, 0, 0.4);
        &#pipelineRxImage {
            grid-area: pipelineRxImage;
        }

        &#southwestImage {
            grid-area: southwestImage;
        }

        &#rallyImage {
            grid-area: rallyImage;
        }
    }

    &__detail {
        color: $color-on-primary;
        padding-top: 1rem;

        &#pipelineRxDescription {
            grid-area: pipelineRxDescription;
        }

        &#rallyDescription {
            grid-area: rallyDescription;
        }

        &#southwestDescription {
            grid-area: southwestDescription;
        }
    }

    @media all and (min-width: 875px) {
        &__project-container {
            grid-gap: 2rem;
            grid-template-areas:
                'rallyImage rallyDescription'
                'pipelineRxDescription pipelineRxImage'
                'southwestImage southwestDescription';
        }

        &__headline {
            margin-bottom: 1rem;
        }
    }
}
