@import '_globals';

.nav {
    &__link {
        color: $color-on-primary;
        display: inline-block;
        margin-right: 1.2rem;

        &:hover {
            color: inherit;
        }
    }

    &--device {
        display: inline-block;

        .header-nav {
            &__link {
                color: $color-on-surface;
                display: block;
                margin-right: 0;
            }
        }
    }
}
