@import '../../styles/_globals.scss';

.header-nav {
    &__link {
        color: $color-on-primary;
        display: inline-block;
        margin-right: 2%;

        &:hover {
            color: inherit;
        }
    }

    &--device {
        display: inline-block;

        .header-nav {

            &__link {
                color: $color-on-surface;
                display: block;
                margin-right: 0;
            }
        }
    }
}
