.docs {
    &__container {
        height: 100%;
        box-sizing: border-box;
        position: relative;
    }

    &__button {
        z-index: 0;
    }

    &__children,
    &__drawer {
        height: 100%;
        overflow-y: auto;
    }

    &__children {
        margin: 0 auto;
        padding: 1rem 1rem 0;
        max-width: 800px;
    }

    pre div {
        white-space: pre;
    }

    @media all and (min-width: 800px) {
        &__container {
            display: flex;
        }

        &__drawer {
            flex: 0 0 auto;
        }

        &__drawer-button {
            display: none;
        }
        &__children {
            flex: 1 1 auto;
        }
    }

    @media print {
        &__drawer-button {
            display: none;
        }
    }
}
