@import '../styles/globals';

.index-page {
    position: relative;

    &__container {
        align-items: center;
        display: flex;
        flex-flow: column;
        height: 100vh;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: 1;
    }

    &__content {
        color: white;
        max-width: 720px;
        padding: 5%;
        text-shadow: 2px 2px 8px #000;
    }

    &__image {
        height: 100vh;
        z-index: -1;
    }

    &__heading {

        @include respond-to(handhelds) {
            font-size: 3rem;
        }
    }
}
