@import '_colors';

.about {
    background-color: $color-primary;
    color: $color-on-primary;

    &__badge {
        margin: 0 0.4rem 0.4rem 0;
    }

    &__content {
        display: flex;
        flex-flow: row wrap;
        margin-right: -1.8rem;
    }

    &__card {
        box-sizing: border-box;
        flex: 1 1 100%;
        padding: 0.8rem;
        margin: 0 1.8rem 1.8rem 0;

        &:last-child {
            flex: 1 1 100%;
        }
    }

    @media all and (min-width: 625px) {
        &__card {
            flex: 1 1 30%;
        }
    }
}
